@model List<_ExcellOn_.Models.Service>

<!-- services section -->
<section class="w3l-content-11-main" style="font-size:1.3rem">
    <div class="content-design-11 py-5">
        <div class="container py-md-5 py-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">We Provide Best Services</h3>
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-sec-11">
                <div class="row">
                    @foreach (var service in Model)
                    {
                        <div class="col-lg-12">
                            <div class="services-single d-flex p-sm-5 p-4" style="min-height: 330px">
                                <div class="service-icon mr-sm-4 mr-3">
                                    @if (service.Service_Name == "Tele Marketing")
                                    {
                                        <span class="fa fa-headphones" aria-hidden="true"></span>
                                    }
                                    else if (service.Service_Name == "In-bound")
                                    {
                                        <span class="fa fa-bullhorn" aria-hidden="true"></span>
                                    }
                                    else if (service.Service_Name == "Out-bound")
                                    {
                                        <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                                    }

                                </div>
                                <div class="services-content">
                                    <h5 style="min-height: 80px;font-size:1.3rem"><a href="@Url.Action("Detail","Services", new { id = service.Id})">@service.Service_Name - Service</a></h5>
                                    <p style="min-height: 100px">
                                        @service.Service_Description
                                    </p>
                                    <a href="@Url.Action("Detail","Services", new { id = service.Id})" class="btn read-button d-flex align-items-center mt-4 p-0">
                                        Read
                                        More<i class="fa fa-angle-double-right ml-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services section -->
