.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: white !important;
    background: #11cdef;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    height: 40px;
    min-height: 40px;
}

.dropdown-menu {
    padding: 0px !important;
}

.modal-backdrop {
    opacity: 0.7 !important;
}

#modal-dialog2 {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
}

.select2-container {
    width: 100% !important
}

.selection span {
    padding-top: 1.5px !important;
}

.show {
    top: 0px !important;
}
