<!-- blog section -->
<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-heading text-center mb-sm-5 mb-4">
                    <h3 class="title-style mb-2">Our Latest Blog</h3>
                    <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                        eaque ipsa quae ab illo inventore.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="/Content/Template/assets/images/blog1.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h5>November 3, 2020 - <a href="blog-single">New</a></h5>
                            <h4><a href="#blog">Donec sed teus enime</a></h4>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="admin-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-user-circle"
                                          aria-hidden="true"></span>
                                    Admin
                                </a>
                            </li>
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-comments" aria-hidden="true"></span>7
                                    Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="/Content/Template/assets/images/blog3.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h5>November 6, 2020 - <a href="blog-single">New</a></h5>
                            <h4><a href="#blog">It's enim ad minim aute</a></h4>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="admin-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-user-circle"
                                          aria-hidden="true"></span>
                                    Admin
                                </a>
                            </li>
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-comments" aria-hidden="true"></span>3
                                    Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="/Content/Template/assets/images/blog2.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h5>November 7, 2020 - <a href="blog-single">New</a></h5>
                            <h4><a href="#blog">Ullamco laboris nisi uts</a></h4>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="admin-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-user-circle"
                                          aria-hidden="true"></span>
                                    Admin
                                </a>
                            </li>
                            <li>
                                <a href="#blog">
                                    <span class="fa fa-comments" aria-hidden="true"></span>5
                                    Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
