<!-- footer -->
<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-3 col-6 footer-list-29">
                            <ul>
                                <h6 class="footer-title-29">Company</h6>
                                <li><a href="#">About Our Services</a></li>
                                <li><a href="#">Our Projects</a></li>
                                <li><a href="#">View Our Blog</a></li>
                                <li><a href="#">Check Our Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29">
                            <ul>
                                <h6 class="footer-title-29">Quick Links</h6>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Department Services</a></li>
                                <li><a href="#">Make Appointment</a></li>
                                <li><a href="#">Our Business Growth</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                            <ul>
                                <h6 class="footer-title-29">Support</h6>
                                <li><a href="#">Live Chart</a></li>
                                <li><a href="#">Faq's</a></li>
                                <li><a href="#"> Support</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                            <h6 class="footer-title-29">More Info</h6>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#"> Terms of Service</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#"> Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer-contact-list mt-lg-0 mt-md-5 mt-4">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <ul>
                        <li class="d-flex align-items-center py-2">
                            <i class="fa fa-map-marker mr-2"
                               aria-hidden="true"></i>So 8 Ton That Thuyet
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <i class="fa fa-phone mr-2"
                               aria-hidden="true"></i><a href="tel:+12 23456790">
                                +84
                                961503893
                            </a>
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <i class="fa fa-envelope mr-2"
                               aria-hidden="true"></i><a href="mailto:huyducle1109@gmail.com">ExcellOn@example.com</a>
                        </li>
                        <li>
                            <div class="fb-page" data-href="https://www.facebook.com/Exell-On-101437725587851"
                                 data-tabs="timeline" data-width="" data-height="" data-small-header="false"
                                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/Exell-On-101437725587851" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/Exell-On-101437725587851">Exell On</a>
                                </blockquote>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //footer -->
<!-- copyright -->
<section class="w3l-copyright">
    <div class="container">
        <div class="row bottom-copies">
            <p class="col-lg-8 copy-footer-29">
                © 2021 Excell On Center. All rights reserved. Design by <a href="#">
                    Excell On
                </a>
            </p>
            <div class="col-lg-4 text-right">
                <div class="main-social-footer-29">
                    <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                    <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                    <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=305401431137626&autoLogAppEvents=1" nonce="lEgXXffF"></script>
<!-- //copyright -->