@{ List<string> list_permission = (List<string>)Session["ListPermission"];
    List<string> list_role = (List<string>)Session["ListRole"]; }
<style>
    .nav-link {
        cursor: pointer;
        font-weight: 600 !important;
    }

    .navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
        max-height: 3rem;
    }
</style>

<nav class=" sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-dark" style="background: black;z-index:1; box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%)"></nav>
<nav class=" sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-dark" id="sidenav-main_behind" style="z-index: 2;opacity:.2;background-image: url('/Public/Image/sidebar-3.jpg');background-size:cover"></nav>
<nav class=" sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-dark" id="sidenav-main" style="z-index: 3">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center" style="z-index:2">
            <a class="navbar-brand" style="padding-top: 15px!important;padding-left:0px;padding-bottom:15px;border-bottom: 1px solid white">
                <img src="/Public/Image/th (12).jfif" class="navbar-brand-img rounded-circle" width="40" height="60" alt="...">
                <span style="margin-left: 20px;color: fuchsia;font-weight: 800">EXCELL ON</span>
            </a>
        </div>
        <div class="navbar-inner" style="z-index:2">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    @if (list_permission != null && list_role != null)
                    {
                        if (list_permission.Contains("Home_Dashboard") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link DashboardIndex" onclick="return _Redirect('/Admin/AdminHome/DashboardIndex')">
                                    <i class="ni ni-tv-2 text-info"></i>
                                    <span class="nav-link-text">Dashboard</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("Service_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link ServiceIndex" onclick="return _Redirect('/Admin/ServiceManagement/ServiceIndex')">
                                    <i class="fa fa-handshake-o" aria-hidden="true" style="color:bisque"></i>
                                    <span class="nav-link-text">Service</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("OrderDetail_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link ServiceIndex2" onclick="return _Redirect('/Admin/ServiceManagement/ServiceIndex2')">
                                    <i class="fa fa-shopping-bag" aria-hidden="true" style="color: fuchsia"></i>
                                    <span class="nav-link-text">Order Detail</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("OrderDetail_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link OrderIndex" onclick="return _Redirect('/Admin/OrderManagement/OrderIndex')">
                                    <i class="fa fa-shopping-cart" aria-hidden="true" style="color:floralwhite"></i>
                                    <span class="nav-link-text">Order</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("Staff_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link StaffIndex" onclick="return _Redirect('/Admin/StaffManagement/StaffIndex')">
                                    <i class="fa fa-users" style="color: khaki" aria-hidden="true"></i>
                                    <span class="nav-link-text">Staff</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("Customer_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link CustomerIndex" onclick="return _Redirect('/Admin/CustomerManagement/CustomerIndex')">
                                    <i class="ni ni-planet text-orange"></i>
                                    <span class="nav-link-text">Customer</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("Company_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link CompanyIndex" onclick="return _Redirect('/Admin/CompanyManagement/CompanyIndex')">
                                    <i class="fa fa-building-o" style="color:aqua" aria-hidden="true"></i>
                                    <span class="nav-link-text">Company</span>
                                </a>
                            </li>
                        }
                        if (list_permission.Contains("Image_List") || list_permission.Contains("Image_List") || list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link ImageIndex" onclick="return _Redirect('/Admin/ImageManagement/ImageIndex')">
                                    <i class="fa fa-picture-o" aria-hidden="true" style="color: darkorange"></i>
                                    <span class="nav-link-text">Image</span>
                                </a>
                            </li>
                        }
                        if (list_role != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link MyProfile" onclick="return _Redirect('/Admin/UserManagement/MyProfile')">
                                    <i class="ni ni-single-02 text-yellow"></i>
                                    <span class="nav-link-text">My Profile</span>
                                </a>
                            </li>
                        }

                        if (list_role.Contains("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link AddUser" onclick="return _Redirect('/Admin/UserManagement/AddUser')">
                                    <i class="ni ni-circle-08 text-pink"></i>
                                    <span class="nav-link-text">Register</span>
                                </a>
                            </li>
                        }
                    }

                    @if (Session["StaffName"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link MyProfile" onclick="return _Redirect('/Admin/Staff2/MyProfile')">
                                <i class="ni ni-single-02 text-yellow"></i>
                                <span class="nav-link-text">My Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link MyOrder" onclick="return _Redirect('/Admin/Staff2/MyOrder')">
                                <i class="ni ni-badge text-light"></i>
                                <span class="nav-link-text">My Order</span>
                            </a>
                        </li>
                    }

                </ul>
                <hr class="my-3">

            </div>
        </div>
    </div>
</nav>


