
@{
    ViewBag.Title = "Index";
    @*  Layout = "~/Views/Shared/HomePage.cshtml";*@
}

<link href="~/Content/Manh/searches/css/main.css" rel="stylesheet" />

<div id="search" class="pop-overlay">
    <div class="s002">
        <form method="post" action="Searches/Search">
            <fieldset>
                <legend>SEARCH SERVICE</legend>
            </fieldset>
            <div class="inner-form">
                <div class="input-field second-wrap">
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                        </svg>
                    </div>
                    <input class="form-control" type="date" name="Date_Start" placeholder="Date-Start" />
                </div>
                <div class="input-field third-wrap">
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                        </svg>
                    </div>
                    <input class="form-control" type="date" name="Date_End" placeholder="Date-End" />
                </div>
                <div class="input-field fouth-wrap" style="text-align: center;">
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                        </svg>
                    </div>
                    <select data-trigger="" name="Service_Id" class="form-control" value ="1">
                        <option value="1">In Bound</option>
                        <option value="2">Out Bound</option>
                        <option value="3">TelePhone</option>
                    </select>
                </div>
                <div class="input-field fifth-wrap">
                    <button class="btn-search" type="submit">SEARCH</button>
                </div>
            </div>
        </form>
    </div>
    <a class="close" href="#close" onclick="close_window();return false;"> style="position: absolute; top: 60px; right: 40px; transition: all 200ms; font-size: 40px; text-decoration: none; color: #fff; opacity: 1; background: none; font-weight: 200;">×</a>
    <!-- search popup -->
    <!-- search popup -->
</div>
<script src="~/Content/Manh/searches/js/extention/choices.js"></script>
<script src="~/Content/Manh/searches/js/extention/flatpickr.js"></script>
<script>
    flatpickr(".datepicker",
        {});

</script>
<script>
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });

</script>
<script type="text/javascript">
    function close_window() {
        if (confirm("Close Window?")) {
            close();
        }
    }
</script>
