@model _ExcellOn_.Models.Staff
@{ Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml"; }

<div class="main-content">

    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://www.makemyassignments.com/blog/wp-content/uploads/2019/08/business-communication-tools-1024x574.png); background-size: cover; background-position: center top;">
        <span class="mask bg-gradient-default opacity-8"></span>
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello </h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <img src="" class="rounded-circle" />
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">

                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading"></span>
                                        <span class="description">Age</span>
                                    </div>
                                    <div>
                                        <span class="heading"></span>
                                        <span class="description">Photos</span>
                                    </div>
                                    <div>
                                        <span class="heading"></span>
                                        <span class="description">Comments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                <span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>
                            </div>
                            <div>
                                <i class="ni education_hat mr-2"></i>
                            </div>
                            <hr class="my-4">
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">My Account</h3>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/Admin/StaffManagement/Add" method="post" enctype="multipart/form-data">
                            <h6 class="heading-small text-muted mb-4">Staff information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 text-right" style="margin-bottom: 20px">

                                    </div>
                                    <div class="col-md-6 col-lg-6 text-right" style="margin-bottom: 20px;">
                                        <p class="form-control-label">Avatar</p>
                                        <input name="AvatarUpload" type="file" class="btn btn-sm btn-primary col-lg-12">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Username</label>
                                            <input type="text" name="Staff_UserName" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Password</label>
                                            <input type="password" required name="Staff_Password" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city">Age</label>
                                            <input type="number" required name="Staff_Age" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name">Full Name</label>
                                            <input type="text" required name="Staff_FullName" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"  style="margin-bottom: 20px" for="input-address">Gender</label>
                                            <div>
                                                <span style="margin-right: 150px">
                                                    <input type="radio" name="Staff_Gender" value="0">
                                                    <label class="form-control-label" for="input-last-name">Male</label>
                                                </span>
                                                <span>
                                                    <input type="radio" name="Staff_Gender" value="1">
                                                    <label class="form-control-label" for="input-last-name">Female</label><br>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Service</label>
                                            <select name="ServiceId" class="form-control form-control-alternative">
                                                @foreach (var item in ViewBag.list_service)
                                                {
                                                    <option value="@item.Id">@item.Service_Name</option>}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">About Me</label>
                                            <textarea name="Staff_AboutMe" class="form-control form-control-alternative" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Address</label>
                                            <input name="Staff_Address" required class="form-control form-control-alternative" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">Email Address</label>
                                            <input type="text" required name="Staff_Email" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country">Telephone</label>
                                            <input type="text" required name="Staff_Phone" class="form-control form-control-alternative">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">

                            <div class="pl-lg-4">
                                <div class="form-group focused">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
            <div class="copyright">

            </div>
        </div>
    </div>
</footer>
