
@{ Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";}
@model List<_ExcellOn_.Models.OrderDetail>
<div class="container" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 d-inline-block mb-0">My Order</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a class="btn btn-sm btn-neutral" href="/Admin/CustomerManagement/CustomerIndex">Reload</a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 30px;padding-bottom: 40px">

    <div class="row">
        <div class="col-xl-12">
            <div class="table-responsive">
                <table id="table_MyOrder" class="cell-border text-center align-items-center table-flush ">
                    <thead class="thead-light">
                        <tr>

                            <th style="font-size: 0.875rem" scope="col" class="sort">Date Start</th>
                            <th style="font-size: 0.875rem" scope="col" class="sort">Date End</th>
                            <th style="font-size: 0.875rem" scope="col" class="sort">Number of people</th>
                            <th style="font-size: 0.875rem" scope="col" class="sort">Service</th>
                            <th style="font-size: 0.875rem" scope="col" class="sort">Status</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="lstCustomer">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.OrderDetail_DateStart.Value.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @item.OrderDetail_DateEnd.Value.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @item.OrderDetail_NumberOfPeople
                                    </td>
                                    <td>
                                        @item.Service.Service_Name
                                    </td>
                                    <td>
                                        @if (item.OrderDetail_Status == 0)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-warning"></i>
                                                <span class="status"> Pending </span>
                                            </span>
                                        }
                                        else if (item.OrderDetail_Status == 1)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-info"></i>
                                                <span class="status"> Started </span>
                                            </span>
                                        }
                                        else if (item.OrderDetail_Status == 2)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-success"></i>
                                                <span class="status"> Completed </span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-dark"></i>
                                                <span class="status"> Deleted </span>
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="~/Areas/Admin/Public/DataTable/pagination.css" rel="stylesheet" />
}
@section js{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_MyOrder').DataTable({
                "lengthMenu": [10, 15, 20, 30],
                "pagingType": "full_numbers",
                language: {
                    paginate: {
                        next: '<i class="fa fa-fw fa-long-arrow-right">',
                        previous: '<i class="fa fa-fw fa-long-arrow-left">'
                    }
                },
                "order": [[0, "desc"]]
            });
        });
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
}
